In [1]:
import pandas as pd
import pyodbc
import numpy as np
import datetime

In [76]:
df = pd.read_csv ('./excelfiles/{}'.format("file.csv"),converters={'Qty ordered':float},thousands=",").fillna(value=np.nan)

ValueError: could not convert string to float: '15,000.000'

In [75]:
df['Qty ordered'].dtypes

dtype('O')

In [6]:
from sqlalchemy import create_engine
driver = 'ODBC Driver 17 for SQL Server'
server = '127.0.0.1'
port = 1433
database = 'TestDB' 
uid = 'SA'
pwd = 'reallyStrongPwd123'
engine = create_engine('mssql+pyodbc://SA:reallyStrongPwd123@127.0.0.1:1433/TestDB?driver=ODBC+Driver+17+for+SQL+Server',fast_executemany = True)

In [143]:
df = pd.read_sql("select count(*) from tb_impartx_fsm_tickets_test_mukul_Sep30",engine)

In [144]:
df

0  4000

In [46]:
params = [tuple(r) for r in df1.to_numpy()]

In [47]:
print(len(params[0]))

29

In [7]:
driver = 'ODBC Driver 17 for SQL Server'
server = '127.0.0.1'
port = 1433
database = 'TestDB' 
uid = 'SA'
pwd = 'reallyStrongPwd123'
con_string = 'DRIVER={};SERVER={};port={};DATABASE={};uid={};pwd={}'.format(driver,server,port,database,uid,pwd)
cnxn = pyodbc.connect(con_string)
cursor = cnxn.cursor()
cursor.fast_executemany = True
print ("Connected!")

Connected!

In [98]:
cursor.execute("Select * from TEST4")
cu = list(cursor.fetchall())

In [101]:
len(cu[0])

29

In [95]:
cursor.executemany("INSERT INTO {} VALUES (?".format("TEST4")+ "".join(",?"*(int(df.shape[1])-1))+ ")", cu)

OperationalError: ('08S01', '[08S01] [Microsoft][ODBC Driver 17 for SQL Server]TCP Provider: Error code 0x20 (32) (SQLExecute)')

In [96]:
cnxn.commit()
cnxn.close()

OperationalError: ('08S01', '[08S01] [Microsoft][ODBC Driver 17 for SQL Server]Communication link failure (-2147467259) (SQLEndTran)')

In [26]:
"INSERT INTO {} VALUES (?".format("TEST4_102")+ "".join(",?"*(int(df.shape[1])-1))+ ")"

'INSERT INTO TEST4_102 VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)'

In [22]:
df.to_sql("TEST4_102",engine,if_exists='append')

In [89]:
df2.to_sql("TEST4_1",engine,if_exists='append')

In [91]:
pd.read_sql("select count(*) from TEST4",engine)

0  233184

In [10]:
df = pd.read_excel ('./14 sept/{}'.format("SSS_Projects_V02.xlsx"),converters={'Confidential':str}).fillna(value=np.nan)

SyntaxError: invalid syntax (<ipython-input-10-65dcc9d7e441>, line 1)

In [12]:
a = {'a':1,'b':2,'c':3}

SyntaxError: invalid syntax (<ipython-input-12-ea16d57c2f96>, line 1)

In [3]:
df1 = pd.read_sql("select * from tb_ivalua_projects_V02_auto_test_mukul_1",engine)

In [4]:
df1[:1]

,Project ID,Project Name,Sourcing Project Type,Status,Confidential,Forecast Spend Amount USD,Program ID,Program name,Product Area ID,Competitive Bid,...,Deleted by,Deleted on,Deployment date,Modified by,Modified on,Opening date,Main Organization,MarketArea,Main Category,Data Upload Date
0,PRJ000173,Tender office supplies DUMMY FOR SCLM,Strategic Sourcing project,del,False,100000000.0,NaN,None,None,2.0,...,EANCNIC,2019-05-20,None,EANCNIC,2019-05-20,2019-05-09,SE,MELA,Office Supplies,2020-09-14 17:22:52.640

In [32]:
driver = 'ODBC Driver 17 for SQL Server'
server = '127.0.0.1'
port = 1433
database = 'TestDB' 
uid = 'SA'
pwd = 'reallyStrongPwd123'
con_string = 'DRIVER={};SERVER={};port={};DATABASE={};uid={};pwd={}'.format(driver,server,port,database,uid,pwd)
cnxn = pyodbc.connect(con_string)
cursor = cnxn.cursor()
print ("Connected!")

Connected!

In [23]:
cursor.execute(s)
cursor.fetchall()

ProgrammingError: ('42S01', "[42S01] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]There is already an object named 'tb_sap_zzpomon_1338_2018_02_test_mukul_10' in the database. (2714) (SQLExecDirectW)")

In [17]:
cursor.execute("Select * from [tb_sap_zzpomon_1338_2018_02_test_mukul_10]")

In [19]:
cnxn.close()

In [25]:
df = pd.read_excel("./excelfiles/SQL Data.xlsx")

In [26]:
df.to_sql("tb_sap_zzpomon_1338_2018_02_test_mukul_10",engine,if_exists='append')

In [34]:
cursor.execute("Select top(1) * from TEST4_2")
cursor.fetchall()

[(0, 0, '10', None, '3504707779', 'X', 'SO11018563', 'SBNHH-1D65B', 'Tri-band Antenna', '2018-10-23 00:00:00.000', '3', '2018-10-11 00:00:00.000', '2000118780', '9047592920', '0', 'KGP Telecommunications Inc', '2018-10-03 00:00:00.000', None, '1605', '2018-10-11 00:00:00.000', 'EGREWAR', None, None, '2018-10-31 00:00:00.000', None, 'YES', None, 'S', '563131295', 'X', None, '2018-02-15 00:00:00.000', '2018-10-04 00:00:00.000', '1', '3', '197609861', 'USD', '5003581583', '5003581583', '2018', None, 'AT&T MOBILITY LLC', '946935', 'AT&T MOBILITY LLC', '2018-10-15 00:00:00.000', None, 'FCA', None, 'Sellers place', '2018-10-11 00:00:00.000', '2018-10-04 00:00:00.000', 'ZP60', '13:44:02', None, '2018-10-03 00:00:00.000', 'X', '2018-10-31 00:00:00.000', 3.0, '0', 'X', '5141508137', '3', '0', '2018-10-18 00:00:00.000', None, 'LICENSING.EUS@ERICSSON.COM', '2018-10-11 00:00:00.000', '2018-10-04 00:00:00.000', '2020-08-28 13:44:02.000', None, None, '2018-02-15 00:00:00.000', '101', None, None, '9047592920', '3504707779', '2018-10-03 00:00:00.000', None, 'C', '5', '2018-02-15 00:00:00.000', '3002236615', None, '2018-10-31 00:00:00.000', '2666', 'S', 'ZNEU', '1338', '2018-10-31 00:00:00.000', '1', '2018-10-03 00:00:00.000', 'ZBTO', 'U27', None, None, None, '350', None, None, None, '73', 'U06', 'US02', '3', None, None, None, 'MRNTX036508', '3500', 575187.0, None, '2I', '1', 'WEEKDAYS', 'ZEXT', 'EUS02.SW637.02.036', datetime.datetime(2018, 10, 4, 0, 0), None, datetime.datetime(2020, 8, 28, 13, 10, 34, 863000))]

In [28]:
cursor.fetchall()

[(0, '10', None, '3504707779', 'X', 'SO11018563', 'SBNHH-1D65B', 'Tri-band Antenna', '2018-10-23 00:00:00.000', '3', '2018-10-11 00:00:00.000', '2000118780', '9047592920', '0', 'KGP Telecommunications Inc', '2018-10-03 00:00:00.000', None, '1605', '2018-10-11 00:00:00.000', 'EGREWAR', None, None, '2018-10-31 00:00:00.000', None, 'YES', None, 'S', '563131295', 'X', None, '2018-02-15 00:00:00.000', '2018-10-04 00:00:00.000', '1', '3', '197609861', 'USD', '5003581583', '5003581583', '2018', None, 'AT&T MOBILITY LLC', '946935', 'AT&T MOBILITY LLC', '2018-10-15 00:00:00.000', None, 'FCA', None, 'Sellers place', '2018-10-11 00:00:00.000', '2018-10-04 00:00:00.000', 'ZP60', '13:44:02', None, '2018-10-03 00:00:00.000', 'X', '2018-10-31 00:00:00.000', 3.0, '0', 'X', '5141508137', '3', '0', '2018-10-18 00:00:00.000', None, 'LICENSING.EUS@ERICSSON.COM', '2018-10-11 00:00:00.000', '2018-10-04 00:00:00.000', '2020-08-28 13:44:02.000', None, None, '2018-02-15 00:00:00.000', '101', None, None, '9047592920', '3504707779', '2018-10-03 00:00:00.000', None, 'C', '5', '2018-02-15 00:00:00.000', '3002236615', None, '2018-10-31 00:00:00.000', '2666', 'S', 'ZNEU', '1338', '2018-10-31 00:00:00.000', '1', '2018-10-03 00:00:00.000', 'ZBTO', 'U27', None, None, None, '350', None, None, None, '73', 'U06', 'US02', '3', None, None, None, 'MRNTX036508', '3500', 575187.0, None, '2I', '1', 'WEEKDAYS', 'ZEXT', 'EUS02.SW637.02.036', datetime.datetime(2018, 10, 4, 0, 0), None, datetime.datetime(2020, 8, 28, 13, 10, 34, 863000))]

In [30]:
pd.read_sql("select * from tb_sap_zzpomon_1338_2018_02_test_mukul_10",engine).to_sql("TEST4_2",engine,if_exists='append')

In [26]:
df = pd.read_excel("./excelfiles/Copy of query.xlsx",sheet_name='Sheet1')

In [13]:
df

'[act_id] [float] NULL,'

In [18]:
s = ""
for i in range(len(df['SQL TABLE'])):
    s+=df['SQL TABLE'][i]

In [20]:
s = "create table test677 ( " + s + " )"

In [21]:
s

'create table test677 ( [act_id] [float] NULL,[ID] [nvarchar](max) NULL,[Savings Label] [nvarchar](max) NULL,[Market Area] [nvarchar](max) NULL,[Organization] [nvarchar](max) NULL,[Country] [nvarchar](max) NULL,[Supplier ID] [nvarchar](max) NULL,[Supplier Name] [nvarchar](max) NULL,[Main Category] [nvarchar](max) NULL,[Savings currency] [nvarchar](max) NULL,[Currency] [nvarchar](max) NULL,[Dependencies/Risks] [nvarchar](max) NULL,[Confidence] [nvarchar](max) NULL,[Savings oportunity status] [nvarchar](max) NULL,[Opportunity ID] [nvarchar](max) NULL,[Opportunity ID not applicable] [nvarchar](max) NULL,[Business Area] [nvarchar](max) NULL,[Product Area] [nvarchar](max) NULL,[Product Area not Applicable] [nvarchar](max) NULL,[Customer] [nvarchar](max) NULL,[Customer Unit] [nvarchar](max) NULL,[Sales Phase] [nvarchar](max) NULL,[Program ID] [float] NULL,[Program Name] [nvarchar](max) NULL,[Sourcing Project ID] [nvarchar](max) NULL,[Sourcing Project Name] [nvarchar](max) NULL,[Description] [nvarchar](max) NULL,[Created by] [nvarchar](max) NULL,[Responsible] [nvarchar](max) NULL,[Forecast Begin date] [date] NULL,[Forecast End Date] [date] NULL,[Type] [nvarchar](max) NULL,[Status] [nvarchar](max) NULL,[Entity Status] [nvarchar](max) NULL,[Adressable Spend local currency] [nvarchar](max) NULL,[Adressable Spend USD Amount] [nvarchar](max) NULL,[Forecast USD] [float] NULL,[Actual USD] [float] NULL,[Revised Actual USD] [nvarchar](max) NULL,[Forecast SEK] [float] NULL,[Actual SEK] [float] NULL,[Revised Actual SEK] [nvarchar](max) NULL,[Year] [float] NULL,[Category Group Area] [nvarchar](max) NULL,[Creation date] [date] NULL,[Modification date] [date] NULL,[Category Owner] [nvarchar](max) NULL,[Approval date for Actual indicator] [datetime] NULL,[Approval date for RA indicator] [nvarchar](max) NULL,[Approver for Actual indicator] [nvarchar](max) NULL,[Approver for RA indicator] [nvarchar](max) NULL,[Begin Date Actual] [date] NULL,[End Date Actual] [date] NULL,[Begin Date Revised] [nvarchar](max) NULL,[End Date Revised] [nvarchar](max) NULL,[Data Upload Date] [datetime] NULL )'

In [24]:
cursor.execute("select * from test677")
cursor.fetchall()

[]

In [25]:
cnxn.commit()
cnxn.close()